.popup__form_type_auth {
  max-width: 358px;
  margin: 60px auto 112px;
}

.popup__title_type_auth {
  text-align: center;
  margin: 0;
}

.popup__input_type_auth {
  margin-top: 42px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

.popup__submit-button_type_auth {
  background-color: #fff;
  margin-top: 216px;
  color: #000;
}

.auth__text {
  text-align: center;
  margin: 15px 0 0;
  font-size: 14px;
  line-height: 17px;
}

.auth__link {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.auth__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 468px) {
  .popup__form_type_auth {
    padding: 0 10px;
    margin: 40px auto 77px;
  }

  .popup__title_type_auth {
    font-size: 20px;
    line-height: 24px;
  }

  .popup__input_type_auth {
    margin-top: 30px;
  }

  .popup__submit-button_type_auth {
    margin-top: 173px;
    font-size: 16px;
    line-height: 19px;
  }

  .auth__text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
  }
}
