.profile__add-button {
  margin-left: auto;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Vector_plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: .3s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 896px) {
  .profile__add-button {
    width: 125px;
  }
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    margin: 34px 0 0;
    width: 100%;
    background-size: 16px;
  }
}
