.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 468px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
