.profile__info {
  margin-left: 30px;
  overflow: hidden;
}

@media screen and (max-width: 896px) {
  .profile__info {
    margin-left: 25px;
  }
}

@media screen and (max-width: 700px) {
  .profile__info {
    max-width: 100%;
    margin: 26px 0 0;
  }
}
