.profile__about {
  max-width: 450px;
  margin: 8px 0 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 896px) {
  .profile__about {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .profile__about {
    text-align: center;
  }
}

@media screen and (max-width: 544px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}
